@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

header {         
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(77, 77, 77);
    padding: 3px;
    /* Colocar sempre assim a sombra */
    /* box-shadow: 1px 1px 1px black; */
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.575);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}
main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 1px 1px 6px 0px black;
}

article {
    background-color: lightgray;
    padding: 5px;
}

article > aside {
    background-color: grey;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

div#bola {
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}