@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #2999A6, #7ED9D9);
}

main {
    background-color: white;
    /* Cantos arredondados */
    border-radius: 10px;
    box-shadow: 5px 5px 15px #011e30;
    /* Para não ocupar a largura inteira */
    width: 600px;
    /* Para dar um espaço logo a seguir ao fim do texto */
    padding: 10px;
    /* Para alinhar o conteúdo do main no centro sempre */
    margin: auto;
}

h1 {
    color: #7ED9D9;
    text-align: center;
    text-shadow: 1px 1px 0px #5b9c9c;
}

h2 {
    color: #012840;
}

p {
    text-align: justify;
}